Source: pulseaudio-config-droid
Maintainer: Bardia Moshiri <bardia@furilabs.com>
Section: misc
Priority: optional
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.7.0
Vcs-Browser: https://github.com/furilabs/pulseaudio-config-droid
Vcs-Git: https://github.com/furilabs/pulseaudio-config-droid.git

Package: pulseaudio-config-droid
Architecture: all
Pre-Depends: pulseaudio-modules-droid-apispecific, pulseaudio
Depends: ${misc:Depends}
Description: pulseaudio configs for hybris devices
 This package contains pulseaudio configuration files for hybris-based adaptations
